[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
secure-smtplib = "*"
speechrecognition = "*"
pyttsx3 = "*"
decouple = "*"
python-decouple = "*"
imap-tools = "*"

[dev-packages]

[requires]
python_version = "3.9"
